<h1>AMPACT Quick Reference</h1>

This notebook gives a quick demonstration of how to run some of AMPACT's primary functions and save the generated tables to csv files. Feel free to use this notebook as a way to create csv files of the results and save them locally. It's meant to be used on colab [here](https://colab.research.google.com/github/jcdevaney/pyAMPACT/blob/master/pyAMPACT_Quick_Ref_Colab.ipynb).

<h2>Import a the repo and create a Score object</h2>

You can import any type of symoblic notation file that music21 imports (kern, xml, mei, midi, abc, etc.). If you clone the repo your computer, you can import pieces locally from your computer. It's also convenient to import a piece from a url. Let's import one of the pieces from the TAVERN database and store the Score object to a variable called "piece". Note that if you're getting a file from github, make sure you use the "raw" link.

In [1]:
!git clone https://github.com/jcdevaney/pyAMPACT.git
%cd /content/AMPACT/
import pandas as pd
from script import Score
print('-> Successfully imported Score class.')
piece = Score('https://raw.githubusercontent.com/alexandermorgan/TAVERN/master/Mozart/K179/Stripped/M179_00_02b_b.krn')
print(f'-> Successfully imported {piece.metadata["Title"]} by {piece.metadata["Composer"]}.\n')
pianoRoll = piece.pianoRoll()
pianoRoll

fatal: destination path 'AMPACT' already exists and is not an empty directory.
[Errno 2] No such file or directory: '/content/AMPACT/'
/Users/amor/Desktop/Code/CUNY/AMPACT
-> Successfully imported Score class.
-> Successfully imported Zwolf Variationen in C uber ein Menuett von Johann Christian Fischer by Mozart.

,0.00000,1.00000,2.00000,2.25000,2.50000,2.75000,3.00000,3.50000,4.00000,5.00000,5.50000,6.00000,6.33333,6.50000,6.66667,7.00000,8.00000,9.00000,10.00000,11.00000
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
124,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
125,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
126,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
127,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

For the nmat tables, remember that they're given as a dictionary of one table per part. The part names are the keys and the tables are the values. Let's look at the table for "Part_1" which in this case is the right hand of the piano part

In [3]:
nmat_dict = piece.nmats()
nmat_dict['Part_1']

,MEASURE,ONSET_BEAT,DURATION_BEAT,PART,MIDI,ONSET_SEC,OFFSET_SEC
0.00000,1,0.00000,2.00000,Part_1,79.0,0.00000,2.00000
2.00000,1,2.00000,0.25000,Part_1,77.0,2.00000,2.25000
2.25000,1,2.25000,0.25000,Part_1,76.0,2.25000,2.50000
2.50000,1,2.50000,0.25000,Part_1,74.0,2.50000,2.75000
2.75000,1,2.75000,0.25000,Part_1,72.0,2.75000,3.00000
3.00000,6,3.00000,0.50000,Part_1,79.0,3.00000,3.50000
3.50000,6,3.50000,0.50000,Part_1,77.0,3.50000,4.00000
4.00000,6,4.00000,1.50000,Part_1,74.0,4.00000,5.50000
5.50000,6,5.50000,0.50000,Part_1,77.0,5.50000,6.00000
6.00000,7,6.00000,0.33333,Part_1,76.0,6.00000,6.33333
6.33333,7,6.33333,0.33334,Part_1,79.0,6.33333,6.66667
6.66667,7,6.66667,0.33333,Part_1,81.0,6.66667,7.00000
7.00000,7,7.00000,1.00000,Part_1,72.0,7.00000,8.00000
8.00000,7,8.00000,1.00000,Part_1,71.0,8.00000,9.00000
9.00000,8,9.00000,1.00000,Part_1,71.0,9.00000,10.00000
10.00000,8,10.00000,1.00000,Part_1,72.0,10.00000,11.00000
11.00000,8,11.00000,1.00000,Part_1,-1.0,11.00000,12.00000

The `.mask()` method accepts lots of variables. Here's a list of them and their defaults:
winms=100,         # together with sample_rate, determines how many pitch (y-axis) bins there are
sample_rate=2000,  # together with winms, determines how many pitch (y-axis) bins there are
num_harmonics=1,   # how many harmonics to include, remember that 1 is the pitch itself
width=0,           # the courseness applied to each note of the mask filter
bpm=60,            # beats per minute
aFreq=440,         # specify tuning by giving the tuning of A4
base_note=0,       # the lowest pitch in the midi system
tuning_factor=1,   # 2 cents flat would be .98
obs=20             # observations per second

In [8]:
piece.mask()

,0.00,0.05,0.10,0.15,0.20,0.25,0.30,0.35,0.40,0.45,...,11.50,11.55,11.60,11.65,11.70,11.75,11.80,11.85,11.90,11.95
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
125,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
126,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
127,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
128,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

To save any of these to a csv file, just use panda's to_csv method. You may want to remove the column labels ("header" argument) and the index. Let's save it to the "output_files" folder visible in the file browser on the right.

In [11]:
piece.mask().to_csv('./output_files/Mozart_piece_mask.csv', header=False, index=False)
print("Nothing is printed by this function, so you just have to look at the file path you gave it to see the file there when it's done.")

Nothing is printed by this function, so you just have to look at the file path you gave it to see the file there when it's done.

If you want to get the results of any of the key, function, or harmony analysis to be in the same shape in the time dimension, but still separate from the pianoRoll or the mask, just pass the pianoRoll or mask as the `snap_to` parameter.

In [ ]:
mask = piece.mask()
# get the harmonies in the same shape as the mask columns:
piece.harmonies(snap_to=mask)

You can also pass the `filler` parameter if you want to apply special fill logic. The best explanation for this is the doc string of any of the `.functions`, `.harmKeys`, or `.harmonies` methods. Let's look at one:

In [ ]:
print(piece.functions.__doc__)

If instead you want to get the key, function, or harmony analysis from your score and align it with either the `.pianoRoll()` or `.mask()` that's easy to do. To get them in the same table, you can add whichever of `keys=True`, `functions=True`, and/or `harmonies=True` that you want. For example, to add all three to the pianoRoll, you can do this:

In [ ]:
piece.pianoRoll(keys=True, functions=True, harmonies=True)

And likewise for the mask:

In [ ]:
piece.mask(keys=True, functions=True, harmonies=True)